/*COLORES BANCOLOMBIA*/
body{
    color: #d88d27;/*Amarillo*/
    color: #fdd700;/*Principal*/
    color: #fec12a;
    color: #fff683;

    color: #073e7b;
    color: #00418a;/*Principal*/
    color: #3d7dc5;
    color: #3d7dc5;
    color: #84b8f2;

    color: #a9021a;
    color: #a9021a;
    color: #de0020;
    color: #fc6565;
    color: #ffb2bd;

    color: #5e5d5d;
    color: #949393;
    color: #b8b7b7;
    color: #d7d7d7;
}
